<a href="https://colab.research.google.com/github/MarcoE25/Clases-Analisis-Datos/blob/main/Clase_2_intermedio_202508.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Formulario-Resumen: Limpieza de datos

##  Maestro en Pandas
1. ``pd.read_csv("nombreDelArchivo")``: leer el archivo csvy lo convierte a una tabla de pandas (_dataframe_).
2. ``head(n)``: si no le pones par谩metros, entonces por defecto se muestran las primeras 5 filas, caso contrario, se muestran las primeras $n$
3. ``tail(n)``: si no le pones par谩metros, entonces por defecto se muestran las 煤ltimas 5 filas, caso contrario, se muestran las 煤ltimas $n$
4. ``apply(nombreFuncion)``: $g\circ f$. Es una funci贸n de  pandas que aplica otra funci贸n a cada fila de una columna de un dataframe

---

1. Funci贸n lambda: Es una funci贸n definida por el usuario que tiene una notaci贸n simplificada, ideal para tareas peque帽as, e impl铆citamente tiene la instrucci贸n de ``return`` implementanda

```python
nombreFuncion = lambda param_1, param_2, . . . : tarea a realizar-<return>
```

2. Funci贸n an贸nima: Es una funci贸n lambda sin nombre.

```python
lambda param_1, param_2, . . . : tarea a realizar-<return>
```

---

1. Una vez que ya leiste la informaci贸n, lo que sigue es explorar los datos y/o realizar limpieza de datos
2. 驴Qu茅 haremos la siguiente clase? Automatizaciones, columans calculadas, filtros, group by, gr谩ficos, joins

---

# Lo que veremos esta clase

1. Automatizaci贸n del proceso de limpieza
2. Mejorar la conversi贸n de fechas con try-except
3. Limpieza de la columna Nombre_Empresa
4. Segunda versi贸n de la automatizaci贸n
5. Implementaci贸n de columnas condicionales (Fecha, Monto valorizado, Zona)
6. Eliminar duplicados, m谩scaras booleanas, filtros, filtros-query
7. Uniones

In [ ]:
import pandas as pd
from dateutil import parser

df_bank = pd.read_csv("https://cursopypagina.github.io/CursoPy/Clase_1.csv")
df_bank.head()

,Nombre_Empresa,Monto_Credito,Divisa,Operacion,Fecha_Inicio,Fecha_Fin,Plazo
0,grupo bimbo,4117589.71,MXN,OP-100000,27-Aug-2019,"April 24, 2023",1336.0
1,WALMART DE MXICO,7008028.47,USD,OP-100001,2017-04-10,18/02/2022,1775.0
2,liverpool,9918174.32,EUR,OP-100002,"April 21, 2017",NaN,NaN
3,grupo lala,1293043.34,USD,OP-100003,24-Nov-2023,NaN,NaN
4,FEMSA,7128647.73,EUR,OP-100004,2024-10-30,NaN,NaN

# 1. Automatizaci贸n del proceso de limpieza

In [ ]:
# Rellenar valores nulos ---> fillna(valorRelleno)
# apply(lambda -> parse) ---> homologar fechas
# astype(tipoNuevo) --------> cambiar el tipo de dato de una columna
df_bank['Fecha_Fin'] = df_bank['Fecha_Fin'].fillna('1900-01-01')
df_bank['Plazo'] = df_bank['Plazo'].fillna(0)
df_bank['Plazo'] = df_bank['Plazo'].astype(int)

listaFechas = ['Fecha_Fin', 'Fecha_Inicio']
for col_fecha in listaFechas:
  df_bank[col_fecha] = df_bank[col_fecha].apply(lambda x: parser.parse(x))

df_bank['Nombre_Empresa'] = df_bank['Nombre_Empresa'].str.strip().str.title()
df_bank['Operacion'] = df_bank['Operacion'].str.split("-").apply(lambda x: x[1])

,Nombre_Empresa,Monto_Credito,Divisa,Operacion,Fecha_Inicio,Fecha_Fin,Plazo
0,grupo bimbo,4117589.71,MXN,OP-100000,2019-08-27,2023-04-24,1336
1,WALMART DE MXICO,7008028.47,USD,OP-100001,2017-04-10,2022-02-18,1775
2,liverpool,9918174.32,EUR,OP-100002,2017-04-21,1900-01-01,0
3,grupo lala,1293043.34,USD,OP-100003,2023-11-24,1900-01-01,0
4,FEMSA,7128647.73,EUR,OP-100004,2024-10-30,1900-01-01,0
...,...,...,...,...,...,...,...
9995,BBVA MXICO,7649613.74,MXN,OP-109995,2021-01-02,2023-03-01,788
9996,SORIANA,1578366.47,MXN,OP-109996,2017-02-28,2022-02-12,1810
9997,walmart de m茅xico,2057031.71,MXN,OP-109997,2020-05-19,1900-01-01,0
9998,GRUPO BIMBO,6555258.51,MXN,OP-109998,2017-05-13,2019-12-24,955
9999,soriana,1394502.18,USD,OP-109999,2024-05-18,2024-10-30,165

# 2. Funciones de cadena

In [ ]:
# aammdd_aammdd_MXN_303_10101
# fechaInicio_fechaFin_divisa_linea_operacion
# 303_10101_MXN_220101_300101

In [ ]:
# 20,500.50
# 20.500,50

In [ ]:
# str.lower() ---> minusculas
# str.upper() ---> mayusculas
# str.capitalize() --> primera letra en mayusculas
# .str.title() ---> cada palabra comienza con mayusculas
# "   Luis Fernado    " ---> espacios de sobra o al inicio o al final
# o ambos
# .str.strip()
# .str.split(separador): separa el string de tu columna por el separador
# configurado ---> obtienes en salida un lista con cada palabra
df_bank['Nombre_Empresa'] = df_bank['Nombre_Empresa'].str.strip().str.title()
df_bank.head()

,Nombre_Empresa,Monto_Credito,Divisa,Operacion,Fecha_Inicio,Fecha_Fin,Plazo
0,Grupo Bimbo,4117589.71,MXN,OP-100000,2019-08-27,2023-04-24,1336
1,Walmart De M茅xico,7008028.47,USD,OP-100001,2017-04-10,2022-02-18,1775
2,Liverpool,9918174.32,EUR,OP-100002,2017-04-21,1900-01-01,0
3,Grupo Lala,1293043.34,USD,OP-100003,2023-11-24,1900-01-01,0
4,Femsa,7128647.73,EUR,OP-100004,2024-10-30,1900-01-01,0

In [ ]:
# Forma 1: con lo que ya sabes
# df_bank['Operacion'] = df_bank['Operacion'].str.split("-").apply(lambda x: x[1])

0       100000
1       100001
2       100002
3       100003
4       100004
         ...
9995    109995
9996    109996
9997    109997
9998    109998
9999    109999
Name: Operacion, Length: 10000, dtype: object

In [ ]:
# str.replace(A, B) --> reemplaza todas las apariciones del string A por el string B
# "" --> string vacio
# " " --> espacio en blanco
df_bank['Operacion'] = df_bank['Operacion'].str.replace("OP-", "")

# 3. Agregar una columna nueva

Tarea opcional

In [3]:

# 300101-2030-01-01
# 01/09/2025 ---> 2025-09-01
Fecha="01/09/2025"
Fecha=Fecha.split("/")
Fecha_nueva=Fecha[2] + "-" + Fecha[1] + "-" + Fecha[0]
Fecha_nueva

'2025-09-01'

In [ ]:
import datetime as dt

# aaaa-mm-dia
# dt.datetime.today() ---> dia de hoy, objeto fecha
# dt.timedelta(days = n)
fechaReporte = dt.datetime.today() - dt.timedelta(days = 1)
fechaReporte

datetime.datetime(2025, 9, 1, 2, 34, 23, 569044)

In [ ]:
# objeto fecha ---> string fecha
#                                    aaaa-mm-dd
# dt.datetime.strftime(objetoFecha, "%Y-%m-%d")
fechaReporte = dt.datetime.strftime(fechaReporte, "%Y-%m-%d")
fechaReporte

'2025-09-01'

In [ ]:
"2025-01-01" + dt.timedelta(days = 1)

TypeError: can only concatenate str (not "datetime.timedelta") to str

In [ ]:
# string-fecha : para python no deja de ser un string (se ven bonitos)
# objetos fechas: puedes operar con ellos
df_bank['Fecha_Reporte'] = fechaReporte
df_bank.head()

,Nombre_Empresa,Monto_Credito,Divisa,Operacion,Fecha_Inicio,Fecha_Fin,Plazo,Fecha_Reporte
0,Grupo Bimbo,4117589.71,MXN,100000,2019-08-27,2023-04-24,1336,2025-09-01
1,Walmart De M茅xico,7008028.47,USD,100001,2017-04-10,2022-02-18,1775,2025-09-01
2,Liverpool,9918174.32,EUR,100002,2017-04-21,1900-01-01,0,2025-09-01
3,Grupo Lala,1293043.34,USD,100003,2023-11-24,1900-01-01,0,2025-09-01
4,Femsa,7128647.73,EUR,100004,2024-10-30,1900-01-01,0,2025-09-01

In [ ]:
#               2022-01-01_2030-01-01
# 303_10101_MXN_220101_300101
# OPERACION
# LINEA CREDITO
# DIVISA
# FECHA INICIO
# FECHA FIN
claveFecha = "303_10101_MXN_220101_300101"
componentesClaveFecha = claveFecha.split("_")
OPERACION = componentesClaveFecha[0]
LINEA_CREDITO = componentesClaveFecha[1]
DIVISA = componentesClaveFecha[2]
FECHA_INICIO = componentesClaveFecha[3]
FECHA_FIN = componentesClaveFecha[4]

# aammdd
print(FECHA_INICIO)
print(FECHA_FIN)

220101
300101

In [ ]:
# slicing
# strings son como listas, donde cada caracter del string
# es como si fuera un elemento de una lista
#                   0    1    2   3
# Hola Mundo----> ["H", "o", "l", "a", " ", "M", "u", "n", "d", "o"]
# 0  1  2  3  4  5
# 3  0  0  1  0  1
# FECHA_FIN[0:2] # a帽o
# FECHA_FIN[2:4] # mes
# FECHA_FIN[4:6] # dia
fechaFin = "20"  + FECHA_FIN[0:2] + "-" + FECHA_FIN[2:4] + "-" + FECHA_FIN[4:6]
fechaFin

'2030-01-01'

In [ ]:
fechaInicio = "20"  + FECHA_INICIO[0:2] + "-" + FECHA_INICIO[2:4] + "-" + FECHA_INICIO[4:6]
fechaInicio

'2022-01-01'

In [ ]:
# Primera version

def clean_1(dataframe):
  """
  DOCUMENTACIN
  """
  # Generamos una copia de nuestro datadrame
  df_func = dataframe.copy()
  # Rellenamos faltantes
  df_func["Fecha_Fin"] = df_func["Fecha_Fin"].fillna("1900-01-01")
  df_func["Plazo"] = df_bank["df_funcazo"].fillna(0)

  # Homologamos columnas de fecha
  df_func["Fecha_Inicio"] = df_func["Fecha_Inicio"].apply(lambda x: parser.parse(x))
  df_func["Fecha_Fin"] = df_func["df_funcecha_Fin"].apply(lambda x: parser.parse(x))

  # Tipos de datos
  df_func["Plazo"] = df_func["Plazo"].astype(int)

  return df_func

,Nombre_Empresa,Monto_Credito,Divisa,Operacion,Fecha_Inicio,Fecha_Fin,Plazo
0,grupo bimbo,4117589.71,MXN,OP-100000,2019-08-27,2023-04-24,1336
1,WALMART DE MXICO,7008028.47,USD,OP-100001,2017-04-10,2022-02-18,1775
2,liverpool,9918174.32,EUR,OP-100002,2017-04-21,1900-01-01,0
3,grupo lala,1293043.34,USD,OP-100003,2023-11-24,1900-01-01,0
4,FEMSA,7128647.73,EUR,OP-100004,2024-10-30,1900-01-01,0
...,...,...,...,...,...,...,...
9995,BBVA MXICO,7649613.74,MXN,OP-109995,2021-01-02,2023-03-01,788
9996,SORIANA,1578366.47,MXN,OP-109996,2017-02-28,2022-02-12,1810
9997,walmart de m茅xico,2057031.71,MXN,OP-109997,2020-05-19,1900-01-01,0
9998,GRUPO BIMBO,6555258.51,MXN,OP-109998,2017-05-13,2019-12-24,955
9999,soriana,1394502.18,USD,OP-109999,2024-05-18,2024-10-30,165

In [ ]:
# Version mejorada
def limpiezaDatos(df):
    """
    Limpia un archivo CSV de cr茅ditos bancarios con datos sucios.

    Par谩metros:
    ruta_csv (str): Ruta al archivo CSV sucio.

    Retorna:
    pd.DataFrame: DataFrame limpio con fechas unificadas, nombres capitalizados y datos num茅ricos.
    """

    # Funci贸n segura para parsear fechas
    def parsear_fecha(x):
        if pd.isna(x) or str(x).strip().upper() == "N/A":
            return pd.NaT
        try:
            return parser.parse(str(x), dayfirst=True)
        except (parser.ParserError, ValueError):
            return pd.NaT

    # Unificar fechas
    for col in ['Fecha_Inicio', 'Fecha_Fin']:
        df[col] = df[col].apply(parsear_fecha)
        df[col] = pd.to_datetime(df[col], errors='coerce').dt.strftime('%Y-%m-%d')

    # Capitalizar nombres de empresas
    # quitar espacios con strip()
    # Primera letra mayuscula con title()
    df["Nombre_Empresa"] = df["Nombre_Empresa"].str.strip().str.title()

    # Convertir columnas num茅ricas
    df["Monto_Credito"] = pd.to_numeric(df["Monto_Credito"], errors='coerce')
    df["Plazo"] = pd.to_numeric(df["Plazo"], errors='coerce')

    return df

In [ ]:
# Mas funciones de cadena
df_bank["Nombre_Empresa"].str.split(" ").head()

0           [grupo, bimbo]
1    [WALMART, DE, MXICO]
2              [liverpool]
3            [grupo, lala]
4                  [FEMSA]
Name: Nombre_Empresa, dtype: object

In [ ]:
# Mas funciones de cadena
df_bank["Nombre_Empresa"].str.replace("WALMART", "LUIS")

0             grupo bimbo
1          LUIS DE MXICO
2               liverpool
3              grupo lala
4                   FEMSA
              ...
9995          BBVA MXICO
9996              SORIANA
9997    walmart de m茅xico
9998          GRUPO BIMBO
9999              soriana
Name: Nombre_Empresa, Length: 10000, dtype: object

In [ ]:
# Usar los elementos de una lista para formar una cadena de texto m谩s grande
nombres = ["Luis", "Fer"]
"".join(nombres)

'LuisFer'

Columnas condicionales

In [ ]:
df_bank_clean = df_bank.copy()

In [ ]:
from datetime import datetime
import random as r

zonas = ["NORTE", "SUR", "CENTRO"]

# rellenamos con la fecha de hoy
df_bank_clean['Fecha'] = datetime.today().strftime('%Y-%m-%d')

# Agregamos de manera aleatoria la zona
df_bank_clean['Zona'] = [r.choice(zonas) for i in range(len(df_bank_clean))]

# funcion para clasificar al cliente
clasificador = lambda x: "PLUS" if x > 100000000 else "NORMAL"
df_bank_clean['Clasificacion'] = df_bank_clean['Monto_Credito'].apply(clasificador)

# Valorizamos la columna de monto
def valorizacion(x):
  if x == "USD":
    return 18
  elif x == "EUR":
    return 20
  else:
    return 1

df_bank_clean['Valorizacion'] = df_bank_clean['Divisa'].apply(valorizacion)
df_bank_clean['Monto_Valorizado'] = df_bank_clean['Monto_Credito'] * df_bank_clean['Valorizacion']
df_bank_clean.head()

,Nombre_Empresa,Monto_Credito,Divisa,Operacion,Fecha_Inicio,Fecha_Fin,Plazo,Fecha,Zona,Clasificacion,Valorizacion,Monto_Valorizado
0,grupo bimbo,4117589.71,MXN,OP-100000,27-Aug-2019,"April 24, 2023",1336.0,2025-09-01,SUR,NORMAL,1,4.117590e+06
1,WALMART DE MXICO,7008028.47,USD,OP-100001,2017-04-10,18/02/2022,1775.0,2025-09-01,NORTE,NORMAL,18,1.261445e+08
2,liverpool,9918174.32,EUR,OP-100002,"April 21, 2017",NaN,NaN,2025-09-01,SUR,NORMAL,20,1.983635e+08
3,grupo lala,1293043.34,USD,OP-100003,24-Nov-2023,NaN,NaN,2025-09-01,SUR,NORMAL,18,2.327478e+07
4,FEMSA,7128647.73,EUR,OP-100004,2024-10-30,NaN,NaN,2025-09-01,SUR,NORMAL,20,1.425730e+08

Merges

In [ ]:
df_bank_ejec = pd.read_csv("https://cursopypagina.github.io/CursoPy/Clase_1_5.csv")
empresas = list(df_bank_clean['Nombre_Empresa'].unique())
df_bank_ejec['Nombre_Empresa'] = [r.choice(empresas) for i in range(len(df_bank_ejec))]
df_bank_ejec

,Nombre_Empresa,Tipo,Divisa,Monto,Plazo,Fecha_Inicio_Contrato,Ejecutivo
0,soriana,Vista,MXN,768489.72,1,2018-07-28,Daniel Escobedo Alc谩ntar
1,grupo lala,Vista,EUR,4885585.41,1,2023-10-06,Alejandro Manuel Pantoja Olivo
2,ALSEA,CEDE,MXN,1858088.68,558,"January 31, 2020",Anabel Anel Quintanilla
3,soriana,Vista,USD,2597613.53,1,"April 28, 2022",Irma Tom谩s Alfaro
4,grupo m茅xico,Plazo,EUR,896807.16,321,13-Jul-2025,Frida Heredia Merino
...,...,...,...,...,...,...,...
995,AMRICA MVIL,Plazo,MXN,143094.39,522,29/07/2017,Luis Manuel Ana Mar铆a Vera Dom铆nguez
996,walmart de m茅xico,Vista,MXN,1672971.37,1,29/11/2020,Sandra Rodolfo Amador
997,grupo lala,Plazo,EUR,2764276.29,273,10-Dec-2018,Eloisa Salinas Aguilar
998,WALMART DE MXICO,CEDE,MXN,3989370.60,187,2022-01-04,Juana Antonia Lira Samaniego
999,BANORTE,CEDE,MXN,2804559.09,513,2020-04-19,Alfonso Natalia Sevilla

In [ ]:
df_bank_ejec.query("Plazo == 1")

,Nombre_Empresa,Tipo,Divisa,Monto,Plazo,Fecha_Inicio_Contrato,Ejecutivo
0,soriana,Vista,MXN,768489.72,1,2018-07-28,Daniel Escobedo Alc谩ntar
1,grupo lala,Vista,EUR,4885585.41,1,2023-10-06,Alejandro Manuel Pantoja Olivo
3,soriana,Vista,USD,2597613.53,1,"April 28, 2022",Irma Tom谩s Alfaro
6,BANORTE,Vista,MXN,2221490.67,1,20/09/2022,Sr(a). Salma Esquivel
8,CEMEX,Vista,MXN,4360084.72,1,"April 15, 2016",Fernando Rivera Maestas
...,...,...,...,...,...,...,...
988,bbva m茅xico,Vista,USD,1337510.26,1,05-May-2022,Guillermo Cristian Hernandes
989,cemex,Vista,MXN,896530.02,1,"July 23, 2021",Samuel Yuridia Huerta
990,walmart de m茅xico,Vista,USD,2213211.09,1,2021-05-05,Juana Antonia Lira Samaniego
994,alsea,Vista,MXN,3918208.52,1,"October 17, 2018",Gabino Mariano Laureano Puente
996,walmart de m茅xico,Vista,MXN,1672971.37,1,29/11/2020,Sandra Rodolfo Amador