<a href="https://colab.research.google.com/github/MarcoE25/Clases-Analisis-Datos/blob/main/Ejercicio_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from io import StringIO
# Simular la lectura de un archivo CSV desde un string
data = """id_venta,nombre_cliente,producto,categoria,precio,unidades,estado
1,Ana García,Laptop,Tecnología,13500,1,CDMX
2,Luis Pérez,Mouse,Tecnología,250,2,N/A
3,Carlos Ruiz,Silla,Oficina,1250,,Guadalajara
4,María López,Escritorio,Oficina,3000,1,Monterrey
5,Laura Torres,Monitor,Tecnología,4500,1,CDMX
6,José Gómez,Mouse,Tecnología,250,3,N/A
7,Erika Sánchez,Silla,Oficina,1300,1,Puebla
"""
# Leer el CSV desde el string
df = pd.read_csv(StringIO(data))
# Mostrar las primeras filas
print("Primeras filas del DataFrame:")
print(df.head())

Primeras filas del DataFrame:
   id_venta nombre_cliente    producto   categoria  precio  unidades  \
0         1     Ana García      Laptop  Tecnología   13500       1.0
1         2     Luis Pérez       Mouse  Tecnología     250       2.0
2         3    Carlos Ruiz       Silla     Oficina    1250       NaN
3         4    María López  Escritorio     Oficina    3000       1.0
4         5   Laura Torres     Monitor  Tecnología    4500       1.0

        estado
0         CDMX
1          NaN
2  Guadalajara
3    Monterrey
4         CDMX

In [3]:
# Limpiar la columna 'estado': reemplazar "N/A" por np.nan y llenar con
"Desconocido"
df["estado"] = df["estado"].replace("N/A", np.nan).fillna("Desconocido")
# Limpiar y estandarizar los nombres de cliente
df["nombre_cliente"] = df["nombre_cliente"].str.strip().str.lower()
# Rellenar valores faltantes en "unidades" con 1
df["unidades"] = df["unidades"].fillna(1)
# Crear nueva columna "total_venta"
df["total_venta"] = df["precio"] * df["unidades"]
# Agrupar por categoría para obtener ventas totales
ventas_categoria = df.groupby("categoria")["total_venta"].sum()
print("\nVentas totales por categoría:")
print(ventas_categoria)

Ventas totales por categoría:
categoria
Oficina        5550.0
Tecnología    19250.0
Name: total_venta, dtype: float64

In [4]:
# Filtrar ventas mayores a $5000
ventas_altas = df[df["total_venta"] > 5000]
print("\nVentas mayores a $5000:")
print(ventas_altas)

Ventas mayores a $5000:
   id_venta nombre_cliente producto   categoria  precio  unidades estado  \
0         1     ana garcía   Laptop  Tecnología   13500       1.0   CDMX

   total_venta
0      13500.0

In [5]:
# Usar query para filtrar la categoría Tecnología
tecnologia = df.query("categoria == 'Técnología'")
print("\nVentas en la categoría Tecnología:")
print(tecnologia)

Ventas en la categoría Tecnología:
Empty DataFrame
Columns: [id_venta, nombre_cliente, producto, categoria, precio, unidades, estado, total_venta]
Index: []

In [12]:
df

,id_venta,nombre_cliente,producto,categoria,precio,unidades,estado,total_venta
0,1,ana garcía,Laptop,Tecnología,13500,1.0,CDMX,13500.0
1,2,luis pérez,Mouse,Tecnología,250,2.0,Desconocido,500.0
2,3,carlos ruiz,Silla,Oficina,1250,1.0,Guadalajara,1250.0
3,4,maría lópez,Escritorio,Oficina,3000,1.0,Monterrey,3000.0
4,5,laura torres,Monitor,Tecnología,4500,1.0,CDMX,4500.0
5,6,josé gómez,Mouse,Tecnología,250,3.0,Desconocido,750.0
6,7,erika sánchez,Silla,Oficina,1300,1.0,Puebla,1300.0

1. ¿Cuántas ventas se realizaron en total en la categoría Oficina?

In [11]:
total_oficina=df.query("categoria == 'Oficina'")["precio"].sum()
int(total_oficina)

5550

#¿Cuál es el nombre del cliente que hizo la venta con el mayor total?

In [13]:
df_venta=df.groupby("nombre_cliente")["total_venta"].max()

nombre_cliente
ana garcía       13500.0
carlos ruiz       1250.0
erika sánchez     1300.0
josé gómez         750.0
laura torres      4500.0
luis pérez         500.0
maría lópez       3000.0
Name: total_venta, dtype: float64

#¿Cuántas ventas tienen más de 2 unidades?

In [18]:
ventas_mayores_a_2=(df["unidades"] >= 2).sum()
print(ventas_mayores_a_2)

2

#¿Qué estados únicos aparecen después de limpiar la columna?

In [19]:
df['estado'].unique()

array(['CDMX', 'Desconocido', 'Guadalajara', 'Monterrey', 'Puebla'],
      dtype=object)

#¿Cuál es el promedio de total_venta por categoría?

In [43]:

df_promedio_categoria = df.groupby('categoria')[['total_venta']].mean()
df_promedio_categoria = df_promedio_categoria.rename(columns={"total_venta": "promedio"})
print(df_promedio_categoria)

            promedio
categoria
Oficina       1850.0
Tecnología    4812.5